{% for item in access_ports %} 

{% if item.last_port not defined %}
item.last_port = item.first_port + 1
{% endif %}

{% for intCount in range(item.first_port,item.last_port) %}
interface {{ item.interface_type }}{{ item.switch }}/0/{{ intCount }}
  switchport mode access 
  switchport access vlan 11
  {% if item.voice is defined %}
  switchport voice vlan {{ item.voice }} 
  {% endif %}
  no shutdown 
{% endfor %}

{% endfor %}